#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Office;
Comment[en_US]=A simple check list application.
Comment=A simple check list application.
Exec=cheqlist %f
GenericName[en_US]=Simple check list
GenericName=Simple check list
Icon=checkbox
MimeType=
Name[en_US]=Cheqlist
Name=Cheqlist
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=cheqlist
Type=Application
Version=1.0
MimeType=application/x-cheqlist;
